<div id='foo' class="footer">
        <div class="container">
            <h4>CONTACT WITH US</h4>
            <div >
                <a class="footer-icons" href="http://www.facebook.com" target="_blanc"><i class="fa fa-facebook"></i></a>
                <a class="footer-icons" href="http://www.facebook.com" target="_blanc"><i class="fa fa-twitter"></i></a>
                <a class="footer-icons" href="http://www.facebook.com" target="_blanc"><i class="fa fa-linkedin"></i></a>
           </div>
           <div>
               <small> by   osama mohamed</small>
           </div>

</div>

</body>
</html>