<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 
   

    <title>visit us</title>
</head>

<body>


    <div id="nav" class="navbar">
        <div class="container">

            <a href="/"> <div class="brand">
                
                 tourism 
                </div></a>
            <div class="links">
                <ul>
                    <li><a href="/home">Home</a> </li>
                    <li><a href="/gallery">Gallery</a> </li>
                    <li><a href="/map">Map</a> </li>
                    <li><a href="/about">About Us</a> </li>
                    <%if(isAdmin){%>
                    <li><a href="/admin">Admin</a></li>
                    <%}%>
                </ul>
                </ul>
            </div>
        </div>

    </div>