<%- include ('./partials/header')%>
<div class="container mar-top">
    <div class="paper">
        <div class="about-left">
            <img src="logo.jpg" alt="osama" width="100%" height="100%">
        </div>
        <div class="about-right">
            <h2> Team</h2>
            <hr/>
            <h3>osama mohamed abd eltawab</h3>
            <p style="font-size: 20px;width: 70%;margin: auto;">
                I am an undergraduate software engineer, studying
                 in faculty of engineering fayoum university, I created
                  this website from scratch using HTML, CSS, and js, 
                  also I used ejs as a 
                template engine, for backend I used node js
            </p>
            <hr>
            <div>
                <a style="color: black;" href="https://www.linkedin.com/in/osama-mohamed-44131311a/" target="_blanc"><i class="fa fa-linkedin footer-icons"></i>osma mohamed</a>
            </div>
        </div>
    </div>
</div>